<h2 data-l10n-id="pad.importExport.import"></h2>
<div class="importmessage" id="importmessagehook" data-l10n-id="ep_document_import_hoook.import.message"></div><br>
<form id="importform" method="post" action="" target="importiframe" enctype="multipart/form-data">
    <div class="importformdiv" id="importformfilediv">
        <input type="file" name="file" size="10" id="importfileinput">
        <div class="importmessage" id="importmessagefail"></div>
    </div>
    <div id="import"></div>
    <div class="importmessage" id="importmessagesuccess" data-l10n-id="pad.importExport.importSuccessful"></div>
    <div class="importformdiv" id="importformsubmitdiv">
        <span class="nowrap">
            <input type="submit" name="submit" value="Import Now" disabled="disabled" id="importsubmitinput">
            <div alt="" id="importstatusball" class="loadingAnimation" align="top"></div>
        </span>
    </div>
</form>
